:root {
  --BGgrey: rgb(29, 33, 36); 
  --articleBlue: rgb(35, 51, 87);
  --subnavHover: rgb(147, 182, 228);
  --h1Red:rgb(224, 66, 66);
  --h2Blue: rgb(45, 113, 153);
  --h3Blue: rgb(23, 69, 99);
  --articleText:rgb(176, 214, 230);
}

body {
  background-color: var(--BGgrey);
  margin:0;
  padding: 0;
  }

a{
  color:var(--h2Blue);
  text-decoration: none;
}

h1{
  text-align: center;
  font-family: 'FOT-NewRodin Pro', sans-serif;
  font-size:30pt;
  font-weight: 800;
  margin:0px;
  color: var(--h1Red);
  text-shadow: 2px 2px 4px black;
}

h2{
  text-align: center;
  font-family: 'FOT-NewRodin Pro', sans-serif;
  font-size:  25pt;
  font-weight: 800;
  margin:0px;
  color:var(--h2Blue);
  text-shadow: 2px 2px 4px black;
}

p{
  font-family: 'FOT-NewRodin Pro', sans-serif;
  font-weight: bold;
  padding: none;
  margin: none;
}

/* navigation ------------------------------------------------------------------*/

.topnav{
  text-align: center;
  font-size:  x-large;
  font-family: 'FOT-NewRodin Pro', sans-serif;
  font-weight: 800;

  margin: 0px;
  border: 0px;
  width: 100%;
  height:50px;
  vertical-align:middle;
  background-color: black;
  box-shadow: 0 4px 8px 0 black;
  
}
.subnav{
  display: inline;
  padding:5px;
  margin:2%;
  border-radius: 5px;
  transition: 0.1s;
}
.subnav:hover{
  background-color: var(--subnavHover);
  color: black;
  transition: 0.1s;
}
.active{
  background-color: var(--articleBlue);
}

/* articles ------------------------------------------------------------------*/


.articleWrapper{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left:10%;
  margin-bottom: 20px;
  background-color: var(--articleBlue);
  height: 450px;
  border-radius: 5px;
  width: 80%;
  background-size:100%;
}
.articleName{
  color: var(--h3Blue);
  text-align: left;
  padding-left: 1%;
}
.articleText{
  float:left;
  text-align: justify;
  margin-left: 10%;
  width: 60%;
  color:var(--articleText);
}
.articleImage{
  float: right;
  display: inline;
  text-align: right;
  margin-right: 10%;
  border-radius: 5px;
  box-shadow: 8px 8px 8px 8px rgba(0.2, 0.2, 0.2, 0.2);
}



.bannerBar{
  width:100%; 
  background-color: var(--BGgrey); 
  margin-top: 20%; 
  padding: none; 
  margin-bottom:none;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bannerBar:hover{
  background-color: var(--h3Blue); 
  transition: 0.3s;
}
.bannerIcon{
  vertical-align: middle; padding-bottom:10px;
}

/* about -------------------------------------------------------------------*/

/* cards -------------------------------------------------------------------*/

.cardsIframe{
  width: 90%;
  height: 800px;
  margin-left: 5%;
  border: inset;
  border-color: var(--articleBlue);
  border-radius: 5px;
  position: relative;
  top: -100px
}

/* rules -------------------------------------------------------------------*/

.rulingsIframe{
  width: 90%;
  height: 800px;
  margin-left: 5%;
  border: inset;
  border-color: var(--articleBlue);
  border-radius: 5px;
}

/* decks -------------------------------------------------------------------*/


button{
  border: 2pt solid black;
  background-color: var(--subnavHover);
  border-radius: 5px;
  margin:3px;
  padding: none;
  transition: 0.1s;
}
button:hover{
  border: 2pt solid var(--h2Blue);
  background-color: var(--articleText);
  cursor: pointer;
  transition: 0.1s;
}
.deckIcon{
  margin: 1px;
  padding: none;
  border: 1pt solid black;
  border-radius: 5px;
}

.decksWrapper{
  width: 100%;
  display: inline-block;
  text-align:center;
  margin: 0 auto;
}

.decks{
  display: inline-block;
  width:45%;
  background-color: var(--articleBlue);
  margin: 0;
  padding: 0;
  border-radius: 5px;
}

.decksSample{
  display: block;
  width:80%;
  background-color: var(--articleBlue);
  margin-left:10%;
  padding: 0;
  border-radius: 5px;
  float:left;
  height:600px;
}

.decksIframe{
  display: inline-block;
  width:99%;
  height:448px;
  padding-top: 2pt;
  border: solid 1pt var(--articleBlue);
  border-radius: 5px;
}
.deckTitle{
  font-family: 'FOT-NewRodin Pro', sans-serif;
  font-weight: bold;
  padding: none;
  margin: none;
  line-height: 0px;
}

h4{
  text-align: center;
  font-family: 'FOT-NewRodin Pro', sans-serif;
  font-size:  20pt;
  font-weight: 800;
  margin:0px;
  color:var(--h2Blue);
  text-shadow: 2px 2px 4px black;
}

/* events ------------------------------------------------------------------*/

